---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

import { getFriendlyDate } from "@lib/utils";

const { post } = Astro.props;

const publishedAtDateFriendly = getFriendlyDate(post.frontmatter.publishedAt);

const images = import.meta.glob<{ default: ImageMetadata }>(
  "../assets/blogs/**/*.{png,jpg,jpeg,gif,svg}",
);
const imagePath = Object.keys(images).find((image) =>
  image.includes(post.frontmatter.image.url),
);
const image = images[imagePath!];
---

<a href={post.url} class="hover:text-decoration-underline">
  <article class="flex gap-6">
    <Image
      width="200"
      class="align-self-start rounded-md object-cover"
      src={image()}
      alt={post.frontmatter.image.alt}
    />
    <div class="post-title-area">
      <span class="block max-w-[800px] text-4xl">{post.frontmatter.title}</span>
      <div class="mb-3 mt-1 flex items-center gap-2 font-mono">
        <span class="font-semibold text-primary">{publishedAtDateFriendly}</span
        >
        <span class="text-sm text-slate-200">&#x2022;</span>
        <span class="text-sm text-slate-400"
          >{post.frontmatter.minutesRead}</span
        >
      </div>
      <p class="max-w-[800px]">
        {post.frontmatter.excerpt}{" "}
        <span class="block font-bold">Read More ›</span>
      </p>
    </div>
  </article>
</a>
