---
import { Image } from "astro:assets";

interface Props {
  college: string;
  startDate: string;
  endDate: string;
  logo: ImageMetadata;
  isCurrent?: boolean;
}
const { college, startDate, endDate, logo, isCurrent = false } = Astro.props;
---

<div
  class={`flex gap-6 border-b-[1px] border-l-8 border-b-primary/20 bg-primary/5 p-5 ${isCurrent ? "border-l-primary/50" : "border-l-primary/20"}`}
>
  <Image class="logo" width={40} height={40} src={logo} alt={college} />
  <div>
    <span class="text-xl font-bold text-slate-300">
      {college}
    </span>
    <p class="font-mono font-medium text-slate-400">
      {startDate} - {endDate}
    </p>
    <ul class="key-points-list ml-4 text-slate-300">
      <slot />
    </ul>
  </div>
</div>
